<?php
putenv('DB_TYPE=sqlite');
putenv('DB_PATH=/home/user/data/app.db');
putenv('HOOKPOOL_AUTH=no');
putenv('GITHUB_CLIENT_ID=your_client_id');
putenv('GITHUB_CLIENT_SECRET=your_client_secret');
putenv('BASE_URL=https://hookpool.com');
